{{ define "main" }}
<div class="main-content clear-fix boxed-wrapper" data-layout="col1-rsidebar">
    <div class="main-container">
        <article class="blog-post single">

            {{ with .Params.image }}
            <div class="post-media single-media">
                <img src="{{ . | relURL }}" alt="{{ $.Title }}">
            </div>
            {{ end }}

            <header class="post-header">
                {{ with .Params.categories }}
                <div class="post-categories">
                    {{ range $i, $cat := . }}
                        {{ if $i }},&nbsp;&nbsp;{{ end }}<a href="{{ (printf "categories/%s" (urlize $cat)) | relURL }}">{{ $cat }}</a>
                    {{ end }}
                </div>
                {{ end }}
                <h1 class="post-title">{{ .Title }}</h1>
                <div class="post-meta">
                    {{ with .Params.author }}<span class="post-author"><a href="#">{{ . }}</a></span>{{ end }}
                    <span class="post-date">{{ .Date.Format "2 January 2006" }}</span>
                </div>
                <div class="border-divider"></div>
            </header>

            <div class="post-content" data-dropcaps="yes">
                {{ .Content }}
            </div>

            {{ with .Params.tags }}
            <div class="post-tags">
                {{ range . }}<a href="{{ (printf "tags/%s" (urlize .)) | relURL }}" rel="tag">{{ . }}</a>{{ end }}
            </div>
            {{ end }}

            <footer class="post-footer single-footer">
                <div class="post-share">
                    <a class="facebook-share" target="_blank" rel="noopener" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><i class="fab fa-facebook-f"></i></a>
                    <a class="twitter-share" target="_blank" rel="noopener" href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}"><i class="fab fa-twitter"></i></a>
                    <a class="pinterest-share" target="_blank" rel="noopener" href="https://pinterest.com/pin/create/button/?url={{ .Permalink }}"><i class="fab fa-pinterest-p"></i></a>
                </div>
            </footer>

            <nav class="single-navigation clear-fix">
                {{ with .PrevInSection }}<div class="previous-page"><span>Precedente</span><h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5></div>{{ end }}
                {{ with .NextInSection }}<div class="next-page"><span>Successivo</span><h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5></div>{{ end }}
            </nav>

        </article>
    </div>

    {{ partial "sidebar.html" . }}
</div>
{{ end }}
