{{/* wp2static unmapped: if ( bard_options( 'top_bar_label' ) === true ) : */}}
<div id="top-bar" class="clear-fix">
	<div {{/* wp2static unmapped: echo bard_options( 'general_header_width' ) === 'contained' ? 'class="boxed-wrapper"': ''; */}}>
		
		{{/* wp2static unmapped: // Social Icons */}}
				
				<!-- Mobile Menu Button -->
				<span class="mobile-menu-btn">
					<i class="fas fa-bars"></i>
				</span>

				{{/* wp2static unmapped: // Mobile Menu */}}

	</div>
</div><!-- #top-bar -->

{{/* wp2static dropped orphan: end */}}