{{/* wp2static unmapped: $authordesc = get_the_author_meta( 'description' ); */}}

<div class="author-description">  

	<a class="author-avatar" href="{{/* wp2static unmapped: echo get_author_posts_url( get_the_author_meta( 'ID' ), get_the_author_meta( 'user_nicename' ) ); */}}">
		{{/* wp2static unmapped: echo get_avatar( get_the_author_meta( 'ID' ), 95 ); */}}
	</a>

	<h3>{{/* wp2static unmapped: the_author_posts_link(); */}}</h3>

  <p>{{/* wp2static unmapped: the_author_meta( 'description' ); */}}</p>
  
	<div class="author-share">  
      {{/* wp2static unmapped: if( get_the_author_meta( 'facebook' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'facebook' ); */}}" target="_blank" >
        <i class="fab fa-facebook-f"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}

      {{/* wp2static unmapped: if( get_the_author_meta( 'twitter' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'twitter' ); */}}" target="_blank" >
        <i class="fab fa-twitter"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}

      {{/* wp2static unmapped: if( get_the_author_meta( 'instagram' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'instagram' ); */}}" target="_blank" >
        <i class="fab fa-instagram"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}

      {{/* wp2static unmapped: if( get_the_author_meta( 'pinterest' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'pinterest' ); */}}" target="_blank" >
        <i class="fab fa-pinterest-p"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}
      
      {{/* wp2static unmapped: if( get_the_author_meta( 'bloglovin' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'bloglovin' ); */}}" target="_blank" >
        <i class="fas fa-heart"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}
      
      {{/* wp2static unmapped: if( get_the_author_meta( 'google_plus' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'google_plus' ); */}}" target="_blank" >
        <i class="fab fa-google-plus-g"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}

      {{/* wp2static unmapped: if( get_the_author_meta( 'tumblr' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'tumblr' ); */}}" target="_blank" >
        <i class="fab fa-tumblr"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}

      {{/* wp2static unmapped: if( get_the_author_meta( 'youtube' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'youtube' ); */}}" target="_blank" >
        <i class="fab fa-youtube"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}

      {{/* wp2static unmapped: if( get_the_author_meta( 'vine' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'vine' ); */}}" target="_blank" >
        <i class="fab fa-vine"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}

      {{/* wp2static unmapped: if( get_the_author_meta( 'flickr' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'flickr' ); */}}" target="_blank" >
        <i class="fab fa-flickr"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}

      {{/* wp2static unmapped: if( get_the_author_meta( 'linkedin' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'linkedin' ); */}}" target="_blank" >
        <i class="fab fa-linkedin-in"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}

      {{/* wp2static unmapped: if( get_the_author_meta( 'behance' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'behance' ); */}}" target="_blank" >
        <i class="fab fa-behance"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}

      {{/* wp2static unmapped: if( get_the_author_meta( 'soundcloud' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'soundcloud' ); */}}" target="_blank" >
        <i class="fab fa-soundcloud"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}

      {{/* wp2static unmapped: if( get_the_author_meta( 'vimeo' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'vimeo' ); */}}" target="_blank" >
        <i class="fab fa-vimeo-v"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}

      {{/* wp2static unmapped: if( get_the_author_meta( 'rss' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'rss' ); */}}" target="_blank" >
        <i class="fas fa-rss"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}

      {{/* wp2static unmapped: if( get_the_author_meta( 'dribbble' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'dribbble' ); */}}" target="_blank" >
        <i class="fab fa-dribbble"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}

      {{/* wp2static unmapped: if( get_the_author_meta( 'envelope' ) ) : */}}
      <a href="{{/* wp2static unmapped: echo the_author_meta( 'envelope' ); */}}" target="_blank" >
        <i class="fas fa-envelope"></i>
      </a>
      {{/* wp2static dropped orphan: end */}}
    </div>

</div>

{{/* wp2static dropped orphan: end */}}