<footer id="page-footer" class="clear-fix">
    <div class="footer-copyright">
        <div class="page-footer-inner boxed-wrapper">
            <div class="copyright-info">
                &copy; {{ now.Year }} {{ .Site.Title }}.{{ with .Site.Params.copyright }} {{ . }}{{ end }}
            </div>
            <span class="scrolltop" onclick="window.scrollTo({top:0,behavior:'smooth'})">
                <i class="fas fa-angle-up"></i>
                <span>Back to top</span>
            </span>
        </div>
    </div>
</footer>
