<li class="blog-classic-style">
    <article class="blog-post">
        {{ with .Params.image }}
        <div class="post-media">
            <a href="{{ $.Permalink }}"><img src="{{ . | relURL }}" alt="{{ $.Title }}"></a>
        </div>
        {{ end }}

        <header class="post-header">
            {{ with .Params.categories }}
            <div class="post-categories">
                {{ range $i, $cat := . }}
                    {{ if $i }},&nbsp;&nbsp;{{ end }}<a href="{{ (printf "categories/%s" (urlize $cat)) | relURL }}">{{ $cat }}</a>
                {{ end }}
            </div>
            {{ end }}
            <h1 class="post-title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h1>
            <div class="border-divider"></div>
        </header>

        <div class="post-content">
            <p>{{ .Summary | plainify }}{{ if .Truncated }}&hellip;{{ end }}</p>
        </div>

        <footer class="post-footer">
            <span class="post-author">
                {{ with .Params.author }}<a href="#">{{ . }}</a>{{ else }}<a href="#">{{ $.Site.Params.author | default "author" }}</a>{{ end }}
            </span>
            <div class="post-share">
                <a class="facebook-share" target="_blank" rel="noopener" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><i class="fab fa-facebook-f"></i></a>
                <a class="twitter-share" target="_blank" rel="noopener" href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}"><i class="fab fa-twitter"></i></a>
                <a class="pinterest-share" target="_blank" rel="noopener" href="https://pinterest.com/pin/create/button/?url={{ .Permalink }}"><i class="fab fa-pinterest-p"></i></a>
            </div>
        </footer>
    </article>
</li>
